.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 20px;

  &__cards {
    display: flex;
    padding-left: 1rem;
  }

  &__expenses {
    display: flex;
    justify-content: center;
  }

  &__reminders {
    display: flex;
    justify-content: center;
  }
}
